<div class="main-content">
  <div class="row justify-content-md-center">
    <div class="col-md-auto" style="padding-top: 0%;">
      <h3>GESTIÓN DESTINOS Y CIUDADES.</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-header card-header-tabs card-header-primary">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <span class="nav-tabs-title"> GESTION DE DESTINOS:</span>
          <ul class="nav nav-tabs" data-tabs="tabs">

            <li class="nav-item">
              <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                <i class="material-icons">directions_bike</i> DESTINOS
                <div class="ripple-container"></div>
              </a>
            </li>
            <li class="nav-item">
              <a mat-button class="nav-link" href="#cities" data-toggle="tab">
                <i class="material-icons">layers</i> Ciudades
                <div class="ripple-container"></div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <!-- bodY-->
  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane active" id="messages">
        <div class="row">
          <div class="col">
            <h2 _ngcontent-xkm-c107="">DESTINOS BIKING DUTCHMAN</h2>
          </div>
          <div class="col-md-auto">
            <button type="button" class="btn btn-info bmd-btn-fab"
              data-toggle="collapse" href="#collapseExample" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              <i class="material-icons">fiber_new</i> Registrar
            </button>
          </div>
        </div>

        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <form
            [formGroup]="destinoForm"
            (ngSubmit)="onSubmit(destinoForm)"
          >
            <div class="form-row">
              <div class="col">
                <label>Nombre destino:</label>
                <input
                  formControlName="name"
                  type="text"
                  class="form-control"
                  placeholder="Destino"
                />
              </div>
              <div class="col">
                <label for="exampleInputEmail1">Ciudad</label>
          <select  formControlName="id_city" class="custom-select">
            <option value="1"> -- Selecionar</option>
            <option
            *ngFor="let city of cities_select"
            value="{{ city.bd_cities_id }}"
            >{{ city.name }}</option
          >
          </select>
              </div>
              <div class="col">
                <label>Disponible</label>
                <select  formControlName="availability" class="custom-select">
                  <option value="1"> SI</option>
                  <option value="0"> NO</option>
                </select>

              </div>

            </div>
            <div class="form-row">

              <div class="col">
                <label>Descripción 1</label>
                <input
                  formControlName="description1"
                  type="text"
                  class="form-control"
                  placeholder="Descripción 1"
                />
              </div>
              <div class="col">
                <label>Descripción 2</label>
                <input
                  formControlName="description2"
                  type="text"
                  class="form-control"
                  placeholder="Descripción 2"
                />
              </div>
              <div class="col">
                <!--OTHER COLUMN-->
              </div>
            
            </div>
            <div class="form-row">
              <button type="submit" class="btn btn-danger">
                Guardar.
              </button>
            </div>
          </form>
                  </div>
        </div>
        <table
            class="row-border hover"
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
          >
            <thead class="thead-dark">
              <tr>
                <th scope="col">Destino</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Disponible</th>
                <th scope="col">Descripción Destino</th>
                <th scope="col">Descripción ciudad</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let destino of destinos">
                <td>{{ destino.name }}</td>  
                <td>{{ destino.city }}</td>  
                <!--DISPONIBILIDAD -->
                <td *ngIf="destino.availability == 1"><div class="alert alert-success" role="alert">SI</div></td>
                <td *ngIf="destino.availability == 0"><div class="alert alert-danger" role="alert">NO</div></td>
                <!-- -->
                <td>{{ destino.description1 }}</td>
                <td>{{ destino.descriptionCity }}</td>
                <td>
                  <button
                    [routerLink]="[
                      '/destinations-gestion',
                      destino.bd_destination_id
                    ]"
                    type="button"
                    class="btn btn-outline-success"
                  >
                    <i class="material-icons">visibility</i>
                  </button>
                </td>
                <td>
                  <button
                    (click)="deleteDestinos(destino.bd_destination_id,destino.name)"
                    type="button"
                    class="btn btn-outline-danger"
                  >
                    <i class="material-icons">delete</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="tab-pane" id="cities">
        <app-cities></app-cities>

      </div>
    </div>
  </div>
  <!--fin body-->
  </div>




</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"
              >Recipient:</label
            >
            <input type="text" class="form-control" id="recipient-name" />
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

<script>
  $("#exampleModal").on("show.bs.modal", function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var recipient = button.data("whatever"); // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this);
    modal.find(".modal-title").text("New message to " + recipient);
    modal.find(".modal-body input").val(recipient);
  });
</script>
