<div class="collapse" id="collapsePacks">

  <form [formGroup]="packageForm" (ngSubmit)="onSubmit(packageForm)">
    <div class="form-row">
      <div class="form-group col">
        <label for="inputEmail4">Destinos</label>
        <mat-form-field>
          <mat-select placeholder="👉 SELECIONE EL ó LOS DESTINOS" formControlName="id_destinations" multiple>
            <mat-option *ngFor="let destino of destinos" [value]="destino.bd_destination_id">{{destino.city}} -
              {{destino.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="inputEmail4">Nombre del paquete</label>
        <input type="text" formControlName="name" class="form-control" placeholder="Nombre del paquete">
      </div>
      <div class="form-group col">
        <label for="inputEmail4">Tipo de Paquete</label>
        <select formControlName="id_type_packages" class="custom-select">
          <option>-- SELECIONAR</option>
          <option *ngFor="let item of typesPackages" value="{{ item.bd_type_packages_id }}">
            {{ item.name }}
          </option>
        </select>
      </div>

      <div class="form-group col">
        <label for="inputEmail4">Precio Tour</label>
        <input formControlName="price" type="number" min="1" step=".00" class="form-control" placeholder="$">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="inputEmail4">Código</label>
        <input formControlName="code" type="text" class="form-control" id="codigo">
      </div>
      <div class="form-group col">
        <label for="inputEmail4">Numero pasajeros.</label>
        <input formControlName="numbers_passengers" type="number" min="1" max="4" class="form-control" placeholder="#">
      </div>
      <div class="form-group col">
        <label for="inputEmail4">Número de días</label>
        <input formControlName="number_days" type="number" max="5" min="1" class="form-control" id="codigo"
          placeholder="#">
      </div>
      <div class="form-group col">
        <label for="inputPassword4">Longitud</label>
        <input formControlName="longitud" type="text" class="form-control" id="inputPassword4" placeholder="Km">

      </div>

    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="inputPassword4">Dificultad</label>
        <select formControlName="dificultad" class="custom-select">
          <option>Fácil</option>
          <option>Intermedio</option>
          <option>Moderado</option>
          <option>Dificil</option>
        </select>
      </div>
      <div class="form-group col">
        <label for="inputEmail4">Descripción</label>
        <textarea formControlName="description" type="text" class="form-control"> </textarea>
      </div>
      <div class="form-group col">
        <label for="inputEmail4">Descripción (observación)</label>
        <textarea formControlName="description2" type="text" class="form-control"></textarea>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" id="botonGuardar">Guardar</button>

  </form>

</div>
<style>
  #borders-green:hover td
{
    border-top:4px solid green;
    border-bottom:4px solid green;
}

</style>
<!-- PAQUETES -->
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Código Paquete</th>
      <th scope="col">Tipo Paquete</th>
      <th scope="col">Nombre Paquete</th>
      <th scope="col">Precio</th>
      <th scope="col">Nº Pasajeros</th>
      <th scope="col">Longitud</th>
      <th scope="col">Dificultad</th>
      <th scope="col"> Destino/s Tour</th>
      <th scope="col">Ver</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of paquetes " id="borders-green">
      <td>
        <div class="alert alert-success" role="alert">{{ p.code_pack_destination}} </div>
      </td>
      <td >{{ p.type_tour}} </td>
      <td>{{ p.name}} </td>
      <td>{{ p.price}} </td>
      <td>{{ p.numbers_passengers}} </td>
      <td>{{ p.length}} Km </td>
      <td>{{ p.difficulty}} </td>
      <td>

    <div *ngFor="let d of p.destinos " id="no-border">
        <div class="alert alert-dark" role="alert">{{d}} </div>
      
    </div>
    </td>
    <td>
      <button
        [routerLink]="['/packs-gestion', p.bd_packages_id]"
        type="button"
        class="btn btn-outline-success"
      >
        <i class="material-icons">visibility</i>
      </button>
    </td>
    <td>
      <button
        (click)="deletePack(p.code_pack_destination)"
        type="button"
        class="btn btn-outline-danger"
      >
        <i class="material-icons">delete</i>
      </button>
    </td>
    
    </tr>
  </tbody>
</table>