<div class="main-content">
  <div class="row justify-content-md-center">

    <div class="col-md-auto" style="padding-top: 0%;">
      <h3>Notificaciones Biking Dutchman</h3>
    </div>
  </div>

  <div class="row">
    <div class="card text-center">
      <div class="card-header">
        Notificaciones del Asistente Virtual Biking Dutchman
      </div>
      <div class="card-body">
        <img src="https://media1.tenor.com/images/417b164404395c70a1bbd36b44c1ef10/tenor.gif?itemid=15839692" alt="">

      </div>
      <div class="card-footer text-muted">
        Bienvenido
      </div>
    </div>
  </div>
</div>

