<div class="main-content">
  <div class="row justify-content-md-center">

    <div class="col-md-auto" style="padding-top: 0%;">
      <h3>CALENDARIO DE EVENTOS</h3>
    </div>
  </div>
  <div class="container-fluid">

    <table class="table" id="table_id">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Titulo</th>
          <th scope="col">Destino</th>
          <th scope="col">Prioridad</th>
          <th scope="col">Estado</th>
          <th scope="col">Fecha Inicio Tour</th>
          <th scope="col">Fecha Fin Tour</th>
          <th scope="col">Fecha Registro</th>
          <th scope="col">Ver Detalles</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tour Premium</td>
          <td>Papallacta - Quito</td>
          <td><div class="alert alert-warning" role="alert">Alta</div></td>
          <td><div class="alert alert-warning" role="alert"> <small> En proceso</small></div></td>
          <td>11/02/2020 18:00</td>
          <td>11/04/2020 15:00</td>
          <td>08/02/2020 12:00</td>
          <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
            <i class="material-icons">visibility</i><br>
           <small>  Ver Detalles </small>
           </button></td>
        </tr>
        <tr>
          <td>Tour Premium</td>
          <td>Papallacta - Quito</td>
          <td><div class="alert alert-success" role="alert">Baja</div></td>
          <td><div class="alert alert-warning" role="alert"><small>En proceso</small></div></td>
          <td>11/02/2020 18:00</td>
          <td>11/04/2020 15:00</td>
          <td>08/02/2020 12:00</td>
          <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
            <i class="material-icons">visibility</i><br>
           <small>  Ver Detalles </small>
           </button></td>
        </tr>
        <tr>
          <td>Tour Premium</td>
          <td>Papallacta - Quito</td>
          <td><div class="alert alert-success" role="alert">Alta</div></td>
          <td><div class="alert alert-success" role="alert">Finalizado</div></td>
          <td>11/02/2020 18:00</td>
          <td>11/04/2020 15:00</td>
          <td>08/02/2020 12:00</td>
          <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
            <i class="material-icons">visibility</i><br>
           <small>  Ver Detalles </small>
           </button></td>
        </tr>
        <tr>
          <td>Tour Premium</td>
          <td>Papallacta - Quito</td>
          <td><div class="alert alert-secondary" role="alert"> <small> Media </small></div></td>
          <td><div class="alert alert-success" role="alert">Finalizado</div></td>
          <td>11/02/2020 18:00</td>
          <td>11/04/2020 15:00</td>
          <td>08/02/2020 12:00</td>
          <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
            <i class="material-icons">visibility</i><br>
           <small>  Ver Detalles </small>
           </button></td>
        </tr>
        <tr>
          <td>Tour Premium</td>
          <td>Papallacta - Quito</td>
          <td><div class="alert alert-light" role="alert"><small>Borrador</small></div></td>
          <td><div class="alert alert-light" role="alert"> <small> No ejecutado </small></div></td>
          <td>11/02/2020 18:00</td>
          <td>11/04/2020 15:00</td>
          <td>08/02/2020 12:00</td>
          <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
            <i class="material-icons">visibility</i><br>
           <small>  Ver Detalles </small>
           </button></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>