<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Table of Trips</h4>
                      <p class="card-category"> Information about the trips and type of tours </p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Country
                                  </th>
                                  <th>
                                      City
                                  </th>
                                  <th>                                    
                                    types of tours   
                                </th>
                                  <th>
                                      Salary
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Adonis Rice
                                      </td>
                                      <td>
                                          Alemania
                                      </td>
                                      <td>
                                          Mindo
                                      </td>
                                      <td>
                                        Standar Tours  
                                  </td>
                                      <td class="text-primary">
                                          $50,00
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Micaela Aro
                                      </td>
                                      <td>
                                          Costa Rica
                                      </td>
                                      <td>
                                          Antisana
                                      </td>
                                      <td>
                                        Standar Tours  
                                  </td>
                                      <td class="text-primary">
                                          $60,00
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sara Rodriguez
                                      </td>
                                      <td>
                                          Mexico
                                      </td>
                                      <td>
                                          Pichincha
                                      </td>
                                      <td>
                                        Premiun Tours  
                                  </td>
                                      <td class="text-primary">
                                          $100,00
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Fry
                                      </td>
                                      <td>
                                          Korea, South
                                      </td>
                                      <td>
                                          Mindo-Mashpi
                                      </td>
                                      <td>
                                        Premiun Tours
                                  </td>
                                      <td class="text-primary">
                                          $150,00
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Alam
                                      </td>
                                      <td>
                                          Malasia
                                      </td>
                                      <td>
                                        Cotopaxi-Quilotoa-Chimborazo
                                      </td>
                                      <td>
                                        Premiun Tours 
                                  </td>
                                      <td class="text-primary">
                                          $200,00
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Kevin Adonis Mark
                                      </td>
                                      <td>
                                          Francia
                                      </td>
                                      <td>
                                        Cotopaxi-Chimborazo-Baños-Puyo
                                      </td>
                                      <td>
                                        Premiun Tours  
                                  </td>
                                      <td class="text-primary">
                                          $350,00
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Table of Trips</h4>
                      <p class="card-category"> Information about the trips and type of tours</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Country
                                  </th>
                                  <th>
                                      City Visit
                                  </th>
                                  <th>                                    
                                    types of tours   
                                </th>
                                  <th>                                     
                                    trip value
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Moon
                                      </td>
                                      <td>
                                          Argentina
                                      </td>
                                      <td>
                                          Chimborazo
                                      </td>
                                      <td>
                                          Standar Tours  
                                    </td>
                                      <td>
                                          $50,00
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Mery Hooper 
                                      </td>
                                      <td>
                                          EEUU
                                      </td>
                                      <td>
                                          Papallacta 
                                  </td>
                                      <td>
                                          Premiun Tours
                                      </td>
                                      <td>
                                          $23,789
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Netherlands
                                      </td>
                                      <td>
                                          Mindo
                                      </td>
                                      <td>
                                        Premiun Tours
                                    </td>
                                      <td>
                                          $150.00
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Cheng
                                      </td>
                                      <td>
                                          China
                                      </td>
                                      <td>
                                          Otavalo
                                      </td>
                                      <td>
                                          Standar Tours
                                    </td>
                                      <td>
                                          $50.00
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Malawi
                                      </td>
                                      <td>
                                          Cotopaxi-Quilotoa-Chimborazo
                                      </td>
                                      <td>
                                         Premiun Tours
                                    </td>
                                      <td>
                                          $350.00
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Chile
                                      </td>
                                      <td>
                                          Cotopaxi-Quilotoa
                                      </td>
                                      <td>
                                        Premiun Tours
                                    </td>
                                      <td>
                                          $200.00
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
