<div class="main-content">
  <div class="row justify-content-md-center">

    <div class="col-md-auto" style="padding-top: 0%;">
      <h3>NOTICIAS Y PROMOCIONES</h3>
    </div>
  
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://media-cdn.tripadvisor.com/media/photo-s/1a/db/76/8d/lots-of-hills-and-not.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/1a/db/76/8d/lots-of-hills-and-not.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://media-cdn.tripadvisor.com/media/photo-s/1a/db/76/8d/lots-of-hills-and-not.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>      </div>
    </div>


  </div>
</div>