<div class="main-content">
  <div class="row justify-content-md-center">

    <div class="col-md-auto" style="padding-top: 0%;">
      <h3>BIKING TOURS </h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <i class="material-icons">reorder</i>&nbsp;&nbsp;&nbsp;
      Usuarios Administradores
    </div>
    <div class="col-md-auto">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
        <i class="material-icons">add_circle</i> &nbsp;&nbsp;&nbsp;
        Nuevo
      </button>
      <button type="button" class="btn btn-info">
        <i class="material-icons">print</i>&nbsp;&nbsp;&nbsp;
        Reporte
      </button>

    </div>

  </div>

  <div _ngcontent-fuw-c5="" class="card">
    <div _ngcontent-fuw-c5="" class="card-header card-header-tabs card-header-primary">
      <div _ngcontent-fuw-c5="" class="nav-tabs-navigation">
        <div _ngcontent-fuw-c5="" class="nav-tabs-wrapper"><span _ngcontent-fuw-c5="" class="nav-tabs-title">Reserva
            Tour:</span>
          <ul _ngcontent-fuw-c5="" class="nav nav-tabs" data-tabs="tabs">
            <li _ngcontent-fuw-c5="" class="nav-item"><a _ngcontent-fuw-c5="" class="nav-link active mat-button"
                data-toggle="tab" href="#profile" mat-button="" tabindex="0" aria-disabled="false"><span
                  class="mat-button-wrapper"><i _ngcontent-fuw-c5="" class="material-icons">bug_report</i>
                  Pedido de compra <div _ngcontent-fuw-c5="" class="ripple-container"></div></span>
                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                <div class="mat-button-focus-overlay"></div>
              </a></li>
            <li _ngcontent-fuw-c5="" class="nav-item"><a _ngcontent-fuw-c5="" class="nav-link mat-button"
                data-toggle="tab" href="#messages" mat-button="" tabindex="0" aria-disabled="false"><span
                  class="mat-button-wrapper"><i _ngcontent-fuw-c5="" class="material-icons">code</i> FACTURA COMPRA <div
                    _ngcontent-fuw-c5="" class="ripple-container"></div></span>
                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                <div class="mat-button-focus-overlay"></div>
              </a></li>
        
          </ul>
        </div>
      </div>
    </div>
    <div _ngcontent-fuw-c5="" class="card-body">
      <div _ngcontent-fuw-c5="" class="tab-content">
        <div _ngcontent-fuw-c5="" class="tab-pane active" id="profile">
          <div class="row">
            <div class="col">
              <h2 _ngcontent-xkm-c107="">FORMULARIO DE PEDIDOS TOURS </h2>
            </div>
          </div>

          <form [formGroup]="tourForm" (ngSubmit)="onSubmit(tourForm)">


          <div class="row">
            <div class="col-sm">
              <div class="form-group">
                <label for="exampleInputEmail1"> <a routerLink="/clients-gestion" routerLinkActive="active">Cliente</a> </label>
                <mat-form-field class="example-full-width">
                  <input type="text"
                         placeholder="Pick one"
                         aria-label="Number"
                         matInput
                         [formControl]="myControl" 
                         [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>

            <div class="col-sm">
              <div class="form-group">
                <label for="exampleInputEmail1">PAQUETE</label>
                <select  formControlName="clientId" class="custom-select">
                  <option> * SELECCIONAR * </option>
                  <option>pack 2</option>
                </select>
              </div>
            </div>

            <div class="col-sm">
              <div class="form-group">
                <label for="exampleInputEmail1">Día</label>
                <br>
                  <input formControlName="dateTour" type="date">
              </div>
            </div>
   
          </div>  

          <div class="row">
            <div class="col-sm">
              <div class="form-group">
                <label for="exampleInputEmail1">Diet</label>
                <input
                formControlName="diet"
                type="text"
                class="form-control"
                placeholder="Descripción dieta"
                required
              />
              </div>
            </div>
        
            <div class="col-sm">
              <div class="form-group">
                <label for="exampleInputEmail1">Hotel</label>
                <select  formControlName="hotel" class="custom-select">
                  <option>SI</option>
                  <option>NO</option>
                </select>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group">
                <label for="exampleInputEmail1">Estado Bicicleta</label>
                <select  formControlName="statusBicicle" class="custom-select">
                  <option>Nueva</option>
                  <option>Medio uso</option>
                  <option>Personal</option>
                </select>
              </div>
            </div>
   
          </div>  
          <button type="submit" class="btn btn-primary">Guardar</button>

          </form>
        </div>
        <div _ngcontent-fuw-c5="" class="tab-pane" id="messages">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
      class="row-border hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">DNI ó Pasaporte</th>
          <th scope="col">Usuario</th>
          <th scope="col">Email</th>
          <th scope="col">Tipo de Usuario</th>
          <th scope="col">Fecha creación</th>
          <th scope="col">Ver</th>
          <th scope="col">Eliminar</th>
          <th scope="col">Pago</th>
          <th scope="col">Estado</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>s</td>
          <td>a</td>
          <td>d</td>
          <td>f</td>
          <td>d</td>
          <td>as</td>
          <td>asas</td>
          <td>    <button
            type="button"
            class="btn btn-outline-danger"
          >
            <i class="material-icons">monetization_on</i>
          </button></td>
          <td><div class="alert alert-warning" role="alert"> <small> En proceso  </small></div></td>

        </tr>
        <tr>
          <td>s</td>
          <td>a</td>
          <td>d</td>
          <td>f</td>
          <td>d</td>
          <td>as</td>
          <td>asas</td>
          <td>    <button
            type="button"
            class="btn btn-outline-success"
          >
            <i class="material-icons">monetization_on</i>
          </button></td>
          <td><div class="alert alert-success" role="alert"> <small> Finalizado  </small></div></td>

        </tr> <tr>
          <td>s</td>
          <td>a</td>
          <td>d</td>
          <td>f</td>
          <td>d</td>
          <td>as</td>
          <td>asas</td>
          <td>    <button
            type="button"
            class="btn btn-outline-danger"
          >
            <i class="material-icons">monetization_on</i>
          </button></td>
          <td><div class="alert alert-danger" role="alert"> <small> Borrador  </small></div></td>

        </tr>
      </tbody>
    </table>
        </div>
    
      </div>
    </div>
  </div>
</div>