<div class="main-content" *ngIf="destinoA">

  <div class="container-fluid">

    <h4>Detalles</h4>

    <form [formGroup]="destinoForm" (ngSubmit)="onSubmit(destinoForm)">
      <div class="row">
        <div class="col">

        </div>
        <div class="col-md-auto">
          <button type="submit" class="btn btn-success" id="botonGuardar" data-toggle="modal"
            data-target="#exampleModal">
            <i class="material-icons">save</i> &nbsp;&nbsp;&nbsp;
            Guardar cambios.
          </button>
        </div>

      </div>
      <div class="card">
        <div class="card-header">
          DETALLES
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm"> <div class="form-group">
                <label >Destino</label>
                <input formControlName="name" value="{{destinoA.name}}"
                  type="text" class="form-control" required>
              </div>
            </div>
            <div class="col-sm"> <div class="form-group">
              <label >Ciudad</label>
              <input formControlName="city" value="{{destinoA.city}}"
                type="text" class="form-control" required>
            </div>
          </div>
            <div class="col-sm"> <div class="form-group">
                <label >Disponibilidad</label>
                <input formControlName="availability"
                  value="{{destinoA.availability}}" type="text"
                  class="form-control" required>
              </div></div>
              
          </div>
          <div class="row">
            <div class="col-sm"> <div class="form-group">
                <label >Activo</label>
                <input formControlName="isActive" value="{{destinoA.isActive}}"
                  type="text" class="form-control" required>
              </div></div>
            
              <div class="col-sm"> <div class="form-group">
                <label >Descripcion Ciudad</label>
                <input formControlName="descriptionCity" value="{{destinoA.descriptionCity}}"
                  type="text" class="form-control" required>
              </div></div>
              <div class="col-sm"> <div class="form-group">
                <label >Descripcion 1</label>
                <input formControlName="description1"
                  value="{{destinoA.description1}}" type="text"
                  class="form-control" placeholder="Descripcion" required>
              </div></div>
          </div>
          <div class="row">
            <div class="col-sm"> <div class="form-group">
              <label >descripcion 2</label>
              <input formControlName="description2"
                value="{{destinoA.description2}}" type="text"
                class="form-control" placeholder="Descripcion 2" required>
            </div></div>
            <div class="col-sm"> 
              <div class="form-group">
                <label >Valor</label>
                <input formControlName="value" value="{{destinoA.value}}"
                  type="number" class="form-control" placeholder="Valor" required>
              </div>
            </div>
            <div class="col-sm"> 
              <div class="form-group">
                <label >Estado</label>
                <input formControlName="status" value="{{destinoA.status}}"
                  type="text" class="form-control" placeholder="Estado" required>
              </div>
            </div>
          </div>
          <div class="row">
          <!--  <div class="col-sm">
              <div class="form-group">
                <label >Género</label>
                 <select class="custom-select" formControlName="gender"
                  value="{{administrator.gender}}">
                  <option>Masculino</option>
                  <option>Femenino</option>
                </select>
              </div>

             
            </div>-->
            <div class="col-sm">
              <!--INPUT-->
            </div>
          </div>
        </div>
      </div>



    </form>
  </div>


</div>